<%= form_with(model: [discussion, commentaire]) do |form| %>
  <% if commentaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commentaire.errors.count, "error") %> prohibited this commentaire from being saved:</h2>
      <ul>
      <% commentaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.text_area :message, class: "commentaire_input form-control",style:"" ,autofocus:true%>
  </div>

  <div class="actions">
    <%= form.submit "Envoyer"%>
  </div>
<% end %>

<style>

.form-control:focus{
  box-shadow:inset 0 -1px 0 black;
  resize: none;
  }
  </style>