
<div class='body' disabled>
  <div class="container">
    <section class="wizard-section shadow m-3">
      <div class="row no-gutters">
        <div class="col-lg-6 col-md-6" id="mycol">
          <div class="wizard-content-left d-flex justify-content-center align-items-center" style="background-image: url('/images/2.jpg');background-size:cover">
            <h1>                Créez votre compte
            </h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-wizard">
              
            <div class="form-wizard-header">
                <p>Bienvenue sur HERALD</p>
                 <%= link_to 'Je suis Assistant', new_assistant_registration_path, class: 'btn btn-secondary text-light' %>
                   <ul class="list-unstyled form-wizard-steps clearfix" >
                      <li class="active"><span>1</span></li>
                      <li><span>2</span></li>
                   </ul>
             
            </div>
          
          <fieldset class="wizard-fieldset show" id="first">
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <% if resource.errors.any? %>
                    <% name = resource.errors.include?(:name) %>
                    <% surname = resource.errors.include?(:surname) %>
                    <% address = resource.errors.include?(:address) %>
                    <% lieu = resource.errors.include?(:lieu) %>
                    <% email = resource.errors.include?(:email) %>
                    <% position = resource.errors.include?(:position) %>
                    <% tel = resource.errors.include?(:tel) %>
                    <% birthday = resource.errors.include?(:birthday) %>
                    <% password = resource.errors.include?(:password) %>
                    <% password_confirmation = resource.errors.include?(:password_confirmation) %>
                <% end %>


                <h4 class="text-center">Informations Personelles</h4>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                   
                   <% if name %>
                      <div class="form-group focus-input">
                      <% else %>
                       <div class="form-group">
                   <% end %>
                   
                      <%= f.text_field :name, autocomplete: "name" ,class:"form-control wizard-required"%>
                      <%= f.label "Nom" ,class:"wizard-form-text-label"%>
                      <% if name %>
                           <p>Ce champ doit contenir au moins 4 caracters<p>
                      <% end %>
                      <div class="wizard-form-error"></div>

                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                      <% if surname %>
                      <div class="form-group focus-input">
                      <% else %>
                       <div class="form-group">
                   <% end %>
                          <%= f.text_field :surname, autocomplete: "surname" ,class:"form-control wizard-required"%>
                          <%= f.label "Prénoms" ,class:"wizard-form-text-label"%>
                          <% if surname %>
                           <p>Ce champ doit contenir au moins 4 caracters<p>
                          <% end %>
                        <div class="wizard-form-error"></div>
                      </div>
                  </div>


               <% if birthday %>
                      <div class="form-group focus-input w-100" style="margin-left:10px;margin-right:10px">
                      <% else %>
                       <div class="form-group w-100" style="margin-left:12px;margin-right:12px">
                   <% end %>
                       <%= f.date_field :birthday ,class:"form-control wizard-required"%>
                       <% if birthday %>
                            <p>Veuillez entrer votre date de naissance<p>
                        <% end %>
                      <div class="wizard-form-error"></div>
                  </div>
              </div>






                  <div class=row>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <% if lieu %>
                      <div class="form-group focus-input">
                      <% else %>
                       <div class="form-group">
                   <% end %>
                          <%= f.text_field :lieu, autocomplete: "lieu" ,class:"form-control wizard-required"%>
                          <%= f.label "Lieu de naissance" ,class:"wizard-form-text-label"%>
                          <% if lieu %>
                              <p>Ce champ ne peut être vide</p>
                            <% end %>
                          <div class="wizard-form-error"></div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <% if address %>
                          <div class="form-group focus-input">
                          <% else %>
                          <div class="form-group">
                     <% end %>
                          <%= f.text_field :address, autocomplete: "address" ,class:"form-control wizard-required"%>
                          <%= f.label "Adresse" ,class:"wizard-form-text-label"%>
                             <% if address %>
                               <p>Veuillez préciser votre addresse</p>
                            <% end %>
                          <div class="wizard-form-error"></div>
                      </div>
                    </div>
                    
                  </div> 
                  <% if email %>
                      <div class="form-group focus-input">
                      <% else %>
                       <div class="form-group">
                   <% end %>
                      <%= f.email_field :email, autocomplete: "email" ,class:"form-control wizard-required",id:'user_email'%>
                      <%= f.label :email ,class:"wizard-form-text-label"%>
                        <% if email %>
                        <p>Votre email n'est pas valide ou elle est déjà utilisée</p>
                       <% end %>
                      <div class="wizard-form-error"></div>
                  </div>

                  <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <% if tel %>
                          <div class="form-group focus-input">
                          <% else %>
                          <div class="form-group">
                       <% end %>
                            <%= f.text_field :tel, autocomplete: "tel" ,class:"form-control wizard-required"%>
                            <%= f.label "Numéro de téléphone" ,class:"wizard-form-text-label"%>
                              <% if tel %>
                                 <p>Le Numéro de téléphone doit faire 8 caracteres au moins</p>
                              <% end %>
                            <div class="wizard-form-error"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                       <% if position %>
                          <div class="form-group focus-input">
                          <% else %>
                          <div class="form-group">
                      <% end %>
                            <%= f.text_field :position, autocomplete: "position" ,class:"form-control wizard-required"%>
                            <%= f.label "Votre poste dans la société" ,class:"wizard-form-text-label"%>
                              <% if position %>
                                  <p>Votre poste dans la société doit être renseigné</p>
                              <% end %>
                            <div class="wizard-form-error"></div>
                        </div>
                    </div>

                  </div>
                
                 <% if password %>
                      <div class="form-group focus-input">
                      <% else %>
                       <div class="form-group">
                   <% end %>
                      <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control wizard-required",id:'pwd'%>
                      <%= f.label "Mot de passe" ,class:"wizard-form-text-label",for:"pwd"%>
                        <% if password %>
                          <p>Veuilez saisir un mot de passe de caracters minimum</p>
                       <% end %>
                      <div class="wizard-form-error"></div>
                      <span class="wizard-password-eye"><i class="far fa-eye"></i></span>
                  </div>

                <% if password_confirmation %>
                      <div class="form-group focus-input">
                      <% else %>
                       <div class="form-group">
                   <% end %>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control wizard-required",id:'pwd'%>
                      <%= f.label "Mot de passe (repété)" ,class:"wizard-form-text-label",for:"pwd"%>
                        <% if password_confirmation %>
                         <p>Les mots de psses ne correspondent pas</p>
                       <% end %>
                      <div class="wizard-form-error"></div>
                      <span class="wizard-password-eye"><i class="far fa-eye"></i></span>
                  </div>

          
            <div class="form-group clearfix">
            <%= f.submit "S'inscire" ,class:"form-wizard-next-btn btn " %>
            <%= link_to 'Se connecter', new_user_session_path, class: 'form-wizard-next-btn btn ',style:"float:right" %>
             </div>
             <% end %>
          </fieldset>	
         
          
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<style>
@media(max-width: 45rem) {
  #mycol{
    display:none
  }
}
</style>


